@page "/browse"
@rendermode InteractiveServer

<PageTitle>Browse Posts</PageTitle>

<h1>Browse Posts</h1>

<!--Create a dropdown menu--> 

<button class="btn btn-primary" @onclick="RetrievePosts">Retrieve Posts</button>

<p>@returnInfo</p>

@code {

    private string filter = "";

    private List<Library.PostObject>? returnInfo;

    [Inject]
    private HttpClient _httpClient { get; set; }

    private async Task RetrievePosts()
    {
        returnInfo = await _httpClient.GetFromJsonAsync<List<Library.PostObject>>("https://localhost:7466/browse");

    }
}
