@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Welcome to Ups & Downs!</h1>

<p>@events.positiveMessage</p>

<p>@events.articles[0].DisplayArticle()</p>

<p>@events.articles[1].DisplayArticle()</p>

<p>@events.articles[2].DisplayArticle()</p>

@code {

    Library.CurrentEvents events =  Library.CurrentEvents.dummy();

    [Inject]
    private HttpClient _httpClient { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        //Get current events object to place them inside respective values
        events = await _httpClient.GetFromJsonAsync<Library.CurrentEvents>("https://localhost:7466/Home");
    }
}